<div class="main">
   <a routerLink="">All Records</a>
   <a routerLink="about">Add User</a>
  
</div>

<router-outlet></router-outlet>
<br>
<!-- <section>
   <div class="example-label">Raised</div>
   <div class="example-button-row">
     <button mat-raised-button>Basic</button>
     <button mat-raised-button color="primary">Primary</button>
     <button mat-flat-button>Accent</button>
     <button mat-raised-button color="warn">Warn</button>
     <button mat-raised-button disabled>Disabled</button>
     <button mat-fab>fab</button>
     <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
   </div>
 </section> -->
 
<!-- <br>
<form #myForm="ngForm" (ngSubmit)="getData(myForm.value)" >
  <input type="text" ngModel name="name" placeholder="Enter your name "><br>
  <input type="text" ngModel name="password" placeholder="Enter your password"><br>
  <button>Submit</button>
</form> -->
<br>
